﻿<!DOCTYPE html>
<html class="layout-column">
<head>
    <title>Role Feature Map Generator</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="style/helpers.css">
    <link rel="stylesheet" href="style/app.css">
    <link rel="stylesheet" href="lib/kendo.common-material.min.css"/>
    <link rel="stylesheet" href="lib/kendo.material.min.css"/>
    <link rel="stylesheet" href="lib/kendo.material.mobile.min.css"/>
</head>
<body ng-app="rfmg" ng-cloak>
  <div>
    <div ng-controller="mainController">
        <h1 class="text-center font-size-fixed-24">{{title}}</h1>
    </div>
    <div layout="row">
        <div layout="column" ng-controller="appsController" style="padding-left: 100px; width: 500px" class="border-right-2-dotted">
            <div class="padding-16">
                <div class="demo-section k-content">

                    <div class="box-col padding-16">
                        <h3 class="font-size-fixed-18 margin-0 font-weight-400">All Apps</h3>

                        <div class="box-col">
                            <md-button ng-if="seeFeature" class="k-button md-primary margin-bottom-20" ng-click="showFeature(selectedItem)">
                              See Feature
                            </md-button>
                            <md-button ng-if="addChild" class="k-button md-primary margin-bottom-20" ng-click="addNew(selectedItem)">
                                Add child item
                            </md-button>
                        </div>
                        <div kendo-tree-view="tree"
                             k-data-source="treeData"
                             k-on-change="selectedItem = dataItem">
                            <span k-template>
                                <button class='k-button' ng-click='click(dataItem);onSelect(dataItem)'>{{dataItem.text}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <style>
                    .k-treeview .k-in {
                        padding: 5px;
                    }
                </style>
            </div>
        </div>
        <div layout="column" ng-controller="featuresController" style="min-width: 200px" class="border-right-2-dotted padding-16">
            <div>
                <div class="demo-section k-content">

                    <div class="box-col padding-16">
                        <h3  ng-if="appName" class="font-size-fixed-18 margin-0 font-weight-400">
                          <label class="text-bold">{{appName}}</label>
                          :Features
                        </h3>
                        <md-button ng-if="appName" ng-click="addNewFeature()" class="md-primary">Add New</md-button>
                        <div kendo-tree-view="tree"
                             k-data-source="treeDataFeature"
                             k-on-change="selectedItem = dataItem">
                            <span k-template>
                                <button class='k-button' ng-click='click(dataItem);onSelect(dataItem)'>{{dataItem.text}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <style>
                    .k-treeview .k-in {
                        padding: 5px;
                    }
                </style>
            </div>
        </div>
        <div layout="column" ng-show="showFeature" ng-controller="editFeatureController" class="border-right-2-dotted padding-16">

            <h3  class="font-size-fixed-18 margin-0 font-weight-400">Feature Details</h3>
            <div layout="row">
                <pre class='font-size-fixed-12' layout="column" ng-if="!editMode" ng-click="singleClick()" ng-dblclick="doubleClick()">
                {{featureModel}}
            </pre>

                <form ng-if="editMode">
                    <md-input-container class="md-block">
                        <textarea layout="column" ng-model="featureModel" ng-change="applyModel(featureModel)"
                                  class="width-500 height-500 font-size-fixed-12">
                        </textarea>
                    </md-input-container>
                </form>
            </div>
            <div layout="row">
                <div layout="column">
                    <h3 layout="row">Endpoints</h3>

                    <div layout="row" ng-repeat="item in endpointList">
                        <button style="margin: 5px;">
                            {{item}}
                        </button>
                        <a ng-show="editMode" style="cursor: pointer;margin-top: 8px;color: red;" ng-click="removeEndpoint($index)"><span>remove</span></a>
                    </div>
                    <md-button ng-if="showAddEndpoint && editMode" class='k-button md-primary' ng-click="hideAddEndpointButton()">Add</md-button>
                    <input ng-show="!showAddEndpoint" type="text" ng-model="newEndpoint" ng-keypress="addNewEndpoint($event)"  >
                </div>
            </div>
            <br/>

            <div layout="row">
                <div layout="column">
                    <h3 layout="row">Roles</h3>

                    <div layout="row" ng-repeat="item in roleList">
                        <button style="margin: 5px;">
                            {{item}}
                        </button>
                        <a  ng-show="editMode" style="cursor: pointer;margin-top: 8px;color: red;"
                           ng-click="removeRole($index)"><span>remove</span></a>
                    </div>
                    <md-button ng-if="showAddRole && editMode" class='k-button md-primary' ng-click="hideAddRoleButton()">Add</md-button>
                    <input ng-show="!showAddRole" type="text" ng-model="newRole" ng-keypress="addNewRole($event)"  >
                </div>

            </div>

            <div ng-if="editMode" class="border-top layout-row layout-align-end-center padding-top-16 margin-top-24">
                <md-button class="k-button md-primary" type="submit" ng-click='saveFeature(featureModel)'>Save</md-button>
            </div>
        </div>
        <div layout="column" ng-controller="endpointsController" class="padding-16">
            <h3  class="font-size-fixed-18 margin-0 font-weight-400">All Endpoints</h3>
            <div kendo-tree-view="tree"
                 k-data-source="treeData"
                 k-on-change="selectedItem = dataItem">
                <span k-template>
                    <button class='k-button' id="copy-endpoint" ng-click="copyToClipboard(dataItem.text)">{{dataItem.text}}
                        <md-tooltip>Click to copy</md-tooltip>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <md-button ng-controller="mainController"
               ng-click="refreshConnectionData()"
               class="md-fab md-primary md-fab-bottom-right ecap-gen-refresh-btn"
               aria-label="Add new service">
               <?xml version="1.0" encoding="iso-8859-1"?>
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 34.057 34.057" style="enable-background:new 0 0 34.057 34.057;" xml:space="preserve" width="24px" height="24px"
             class="margin-top-16">
          <g>
            <g>
              <path d="M17.028,32.558c-6.632,0-12.534-4.211-14.688-10.479c-0.16-0.463,0.087-0.969,0.551-1.127    c0.462-0.16,0.968,0.086,1.127,0.551c1.908,5.551,7.137,9.279,13.011,9.279c7.585,0,13.755-6.17,13.755-13.754    c0-0.49,0.398-0.889,0.888-0.889c0.49,0,0.887,0.398,0.887,0.889C32.558,25.591,25.592,32.558,17.028,32.558z" fill="#FFFFFF"/>
            </g>
            <g>
              <path d="M2.386,17.916c-0.489,0-0.887-0.396-0.887-0.887c0-8.562,6.967-15.529,15.529-15.529    c6.63,0,12.532,4.209,14.688,10.475c0.159,0.463-0.087,0.969-0.551,1.129c-0.465,0.158-0.969-0.088-1.128-0.551    c-1.909-5.551-7.137-9.279-13.01-9.279c-7.584,0-13.755,6.172-13.755,13.756C3.273,17.519,2.876,17.916,2.386,17.916z" fill="#FFFFFF"/>
            </g>
            <g>
              <path d="M30.842,13.332c-0.087,0-0.177-0.014-0.265-0.041l-6.163-1.93    c-0.467-0.147-0.727-0.645-0.581-1.113c0.146-0.467,0.646-0.727,1.111-0.582l5.379,1.686l2.021-5.066    c0.182-0.455,0.699-0.678,1.153-0.494c0.455,0.182,0.678,0.697,0.496,1.152l-2.328,5.83    C31.528,13.117,31.196,13.332,30.842,13.332z" fill="#FFFFFF"/>
            </g>
            <g>
              <path d="M0.887,28.332c-0.109,0-0.221-0.021-0.328-0.065c-0.455-0.182-0.677-0.697-0.495-1.152l2.327-5.83    c0.172-0.432,0.646-0.658,1.089-0.518l6.163,1.93c0.468,0.146,0.727,0.644,0.581,1.111c-0.146,0.469-0.645,0.729-1.111,0.582    l-5.378-1.684l-2.023,5.066C1.573,28.119,1.239,28.332,0.887,28.332z" fill="#FFFFFF"/>
            </g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
          <g>
          </g>
        </svg>
    </md-button>
  </div>
<script src="lib/jquery.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="lib/kendo.all.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>
<script src="node_modules/angular-material-icons/angular-material-icons.min.js"></script>
<script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap.min.js"></script>
<script src="node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.js"></script>
<script src="node_modules/clipboard-js/clipboard.js"></script>


<script src="app.js"></script>
<script src="controllers/main-controller.js"></script>
<script src="controllers/connection-details-dialog-controller.js"></script>
<script src="services/db-connection-service.js"></script>
<script src="services/rfm-service.js"></script>
<script src="controllers/apps-controller.js"></script>
<script src="controllers/new-app-details-dialog-controller.js"></script>
<script src="controllers/features-controller.js"></script>
<script src="controllers/edit-feature-controller.js"></script>
<script src="controllers/endpoints-controller.js"></script>
</body>
</html>
