<md-dialog class="border-r-0" flex='20'>
    <div class="padding-24">
        <form name="dbinfo">
            <div class="text-center">
                <h2 class="font-size-fixed-20 opacity-70">
                  Enter Connection Details
                </h2>
            </div>

           <div class="margin-top-40">
               <md-input-container layout="row" class="margin-bottom-40">
                   <label class="font-size-fixed-14">ECAP src path</label>
                   <input class="font-size-fixed-14" type="text" ng-model="details.src" required placeholder="Absolute path to src directory">
               </md-input-container>

               <md-input-container layout="row" class="margin-bottom-40">
                   <label class="font-size-fixed-14">IP Address</label>
                   <input class="font-size-fixed-14" type="text" ng-model="details.ip" required  placeholder="IP address of database server">
               </md-input-container>
               <md-input-container layout="row" class="margin-bottom-40">
                   <label class="font-size-fixed-14">Port</label>
                   <input class="font-size-fixed-14" type="text" ng-model="details.port" required placeholder="Database server port">
               </md-input-container>
               <md-input-container layout="row">
                   <label class="font-size-fixed-14">Database Name</label>
                   <input class="font-size-fixed-14" type="text" ng-model="details.dbName" required md-minlength="5" placeholder="Database name">
               </md-input-container>
           </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class='border-r-0' ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-primary md-raised border-r-0" ng-disabled="dbinfo.$invalid" ng-click="submit(details.src,details.ip, details.port, details.dbName)" md-autofocus>
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
    </div>
</md-dialog>
