<md-dialog class="border-r-0" flex='20'>
    <div class="padding-24">
        <form name="appinfo">
            <div class="text-center">
                <h2 class="font-size-fixed-20 opacity-70">
                  Enter App Details
                </h2>
            </div>

           <div class="margin-top-40">

             <md-input-container layout="row" class="margin-bottom-40">
                 <label class="font-size-fixed-14">App Type</label>
                 <input class="font-size-fixed-14" type="text" ng-model="newAppDetails.newAppType" required >
             </md-input-container>
             <md-input-container ng-if="newAppDetails.newAppType!='platform' && newAppDetails.newAppType!='infrastructure'" layout="row" class="margin-bottom-40">
                 <labe class="font-size-fixed-14"l>Site Name</label>
                 <input class="font-size-fixed-14" type="text" ng-model="newAppDetails.newAppSiteName" required >
             </md-input-container>
             <md-input-container layout="row" flex>
                 <label class="font-size-fixed-14">App Name</label>
                 <input class="font-size-fixed-14" type="text" ng-model="newAppDetails.newAppName" required >
             </md-input-container>
           </div>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class='border-r-0' ng-click="cancel()">
                    Cancel
                </md-button>
                <md-button class="md-primary md-raised border-r-0" ng-disabled="dbinfo.$invalid" ng-click="submit(newAppDetails.newAppType,newAppDetails.newAppName, newAppDetails.newAppSiteName)" md-autofocus>
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
    </div>
</md-dialog>
